extends shared

block content
 div.container
   br 
   br
   h1 Game List (#{gametype.split("_")[1]}) 
  
   br
   form.scrol(action="/activeGames", method="post")
     table(class="table table-striped table-bordered")
       tr
         th Game Id
         th Game Type
         th Start Time
         th End Time
         th Active
         th Delete
       - if (gamesList !== undefined) 
         each games in gamesList
          if (games.gametype == gametype || games.gametype == gametype.split("_")[0])
            tr
              td
               a(href='/#{gametype},#{games.PartitionKey}/gameReport') #{games.PartitionKey}
              td #{games.gametype}
              td #{games.startTime}
              td #{games.endTime}
              td
                input(type="hidden", name="#{games.RowKey}", value="#{games.RowKey}")
                input(type="checkbox", name="active", value="#{!games.active}", checked=games.active)
              td 
                 a(href= "/#{gametype},#{games.RowKey},#{games.PartitionKey}/deleteGame") deleteMe 