//- required variables: 
//-   agent.utility_space_object, of type genius.UtilitySpace
table#chosenOfferTable
   thead
    tr
     th.left Issue
     th.left #{role} draft
     th.left Agreed?
    for issue in agent.utility_space_object.issueByIndex
     tr
      td #{issue.name}
      td
       select.issue(title="#{issue.name}")
        option(value="") -- select --
        for value in issue.values
         option(value="#{value}") #{value}
      td(id="#{issue.name.replace(/[^a-z]/gi,'_')}_agreed")
       div.value no
