extends layout
block title
 title BIU AI lab gametype server - Home
block body
 div#index
  h1 BIU AI lab gametype server - Main Page <small>v2<small>
  for gametype in gametypes
   div(style='background-color:#eee')
    h1 #{gametype}
    h2 Lists
    h4: a(href='/#{gametype}/listactive') Active games
    h4: a(href='/#{gametype}/listlogs') Logged games
    h4: a(href='/#{gametype}/listlogs?pretty=1') Verified games
    h4: a(href='/LogToXml/PreQuestionnaireDemography') answers to demographic questionnaire
    h4: a(href='/LogToXml/PostQuestionnaire') answers to post-gametype questionnaire
    h2 Testing
    h4 note: Open different links in different browsers, to make the server think they are different users.
    h4: a(href='/#{gametype}/beginner') A worker not from Amazon Turk
    h4: a(href='/#{gametype}/beginner?assignmentId=ASSIGNMENT_ID_NOT_AVAILABLE') Amazon Turk Preview mode
    h4: a(href='/#{gametype}/beginner?workerId=amazonworker123&hitId=hit123&assignmentId=assignment123&turkSubmitTo=sandbox') Amazon Turk Live mode with a dummy worker
    h4: a(href='/#{gametype}/advanced') A worker not from Amazon Turk - jump directly to game
    h4: a(href='/#{gametype}/advanced?workerId=amazonworker123&hitId=hit123&assignmentId=assignment123&turkSubmitTo=sandbox') Amazon Turk Live mode - jump directly to game
