extends layout

block title
 title Write a sentence in different words

block body
 div.mainSection
  h1 Write a sentence in different words
  //p A Hi-Tech company would like to hire you. You negotiate your job conditions with your potential employer.
  p You are a manager in a hi-tech company. You negotiate with a job candidate about his/her job conditions.
  p During the interview, you say something, but your partner doesn't understand, and asks you to say this again in different words.
  p Please write three DIFFERENT English sentence that have the SAME meaning.
  p Please write naturally, as you would do in a chat.
  p Here is the sentence:
  h3 
   big #{sentence.natural}
  form(method='get',action='#{action}')
   input(type="hidden", name="iSentence", value="#{iSentence}")
   input(type="hidden", name="next_action", value="#{next_action}")
   for i in [1, 2, 3]
    p 
     label Paraphrase #{i}
     input(name='paraphrase#{i}',style='width:100%')
   input(type="submit", class="button", value="Submit")
