extends layout

block title
 title Write a sentence in different words

block body
 div.mainSection(style='font-size:16px')
  h1 Write a sentence in different words
  //p A Hi-Tech company would like to hire you. You negotiate your job conditions with your potential employer.
  p You are a manager in a hi-tech company.
  p You are negotiating with a job candidate about his/her job conditions.
  p During the interview, you want to say the sentence below, but for some reason, you are not allowed to use the exact same words, so you need to come up with a variation. 
  p Please write three DIFFERENT English sentences that have the SAME meaning.
  p Please write naturally, as you would do in a chat.
  p Here is the sentence:
  p(style='font-size:24px; font-weight:bold') #{natural}
  form(method='get',action='#{action}')
   input(type="hidden", name="iSentence", value="#{iSentence}")
   input(type="hidden", name="next_action", value="#{next_action}")
   for i in [1, 2, 3]
    p 
     label Paraphrase #{i}
     input(name='paraphrase#{i}',style='width:100%')
   input(type="submit", class="button", value="Submit")
